#Instalar modulos

In [ ]:
!pip install pandas==1.3.5
!pip install openpyxl==3.0.9
!pip install xlrd==2.0.1
!pip install pyreadstat

Requirement already satisfied: pandas==1.3.5 in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.5) (1.15.0)
Requirement already satisfied: openpyxl==3.0.9 in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl==3.0.9) (1.1.0)
Collecting xlrd==2.0.1
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 4.7 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1
Collecting pyreadstat
  Downloading pyreadstat-1.1.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.4 MB)
     |████████████████████████████████| 2.4 MB 27.2 MB/s
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.15.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.1.4

#Importar módulos

In [ ]:
import pandas as pd
import numpy as np
import os
from os.path import exists
import inspect
import datetime
import csv
import pyreadstat

#Conexión a Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Variables

In [ ]:
path = "/content/drive/Shared drives/BID/Ciudades/"
path_data = path + "MicroDatos/"
path_salida = path + "Salida/Extraccion_v2/"
file = path + "parametros.xlsx"
encoding='iso-8859-1'

# Dataframes

In [ ]:
df_paises = pd.read_excel(file, sheet_name = 'paises')
#df_obj = df_paises.select_dtypes(['object'])
#df_paises[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
df_paises['pais'] = df_paises['pais'].str.strip()
df_paises['carpeta'] = df_paises['carpeta'].str.strip()
df_paises = df_paises[df_paises['procesar'] == 1]

df_ciudades = pd.read_excel(file, sheet_name = 'ciudades')
df_ciudades['pais'] = df_ciudades['pais'].str.strip()

df_sectores = pd.read_excel(file, sheet_name = 'sectores_ok')
df_sectores['pais'] = df_sectores['pais'].str.strip()
if df_sectores['cod_ciiu'].dtypes == object:
    df_sectores["cod_ciiu"] = pd.to_numeric(df_sectores["cod_ciiu"], downcast="integer", errors='coerce')
    df_sectores["cod_ciiu"] = df_sectores["cod_ciiu"].fillna(0).astype(int)
df_sectores = df_sectores[['pais', 'cod_ciiu', 'sector']]

df_archivos = pd.read_excel(file, sheet_name = 'archivos')
#df_archivos = pd.read_excel(file, sheet_name = 'archivos_pruebas')
#df_obj = df_archivos.select_dtypes(['object'])
#df_archivos[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

try:
    df_archivos["ciudad"] = df_archivos["ciudad"].str.lower()
    df_archivos["sector"] = df_archivos["sector"].str.lower()
    df_archivos["ocupado"] = df_archivos["ocupado"].str.lower()
    df_archivos["salario"] = df_archivos["salario"].str.lower()
    df_archivos["factor_exp"] = df_archivos["factor_exp"].str.lower()
except:
    pass

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

# Verificar dataframes

In [ ]:
#df_paises
#df_sectores
#df_sectores.sector.unique()
#df_paises[df_paises['procesar']==1]
df_archivos
#df_archivos[df_archivos['carpeta'] == 'Argentina']
#df_ciudades
#df_ciudades[['codigo_ciudad','nombre']][df_ciudades['pais'] == 'El Salvador']
#df_ciudades.loc[df_ciudades['pais'] == 'Perú', ['codigo_ciudad','nombre']]

,year,trimestre,carpeta,archivo,llave,estado,ocupado,sector,salario,ciudad,factor_exp,mes,suelo,ocupado_valor,hoja_excel,edad,sexo,Sexo_valor,Suelo_valor,Unnamed: 19
0,2017.0,junio,Mexico,coe1t217.CSV,NaN,DataFrame,p1,p4a,NaN,cd_a,fac,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"path= (""/content/drive/Shareddrives/BID/Ciudad..."
1,2017.0,junio,Mexico,coe2t217.CSV,NaN,DataFrame,NaN,NaN,p6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"path= (""/content/drive/Shareddrives/BID/Ciudad..."
2,2018.0,junio,Mexico,coe1t218.csv,NaN,DataFrame,p1,p4a,NaN,cd_a,fac,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,".rename(columns={""p1"": ""ocupados"", ""p4a"": ""sec..."
3,2018.0,junio,Mexico,coe2t218.csv,NaN,DataFrame,NaN,NaN,p6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,".rename(columns={""p6c"": ""salario""})"
4,2019.0,junio,Mexico,COE1T219.csv,NaN,DataFrame,p1,p4a,NaN,cd_a,fac,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,".loc[:,['ocupados', 'ciudad', 'sector']]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2017.0,junio,TrinidadYTobago,NaN,NaN,Cargado,cargado,cargado,cargado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,2018.0,junio,TrinidadYTobago,NaN,NaN,Cargado,cargado,cargado,cargado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,2019.0,junio,TrinidadYTobago,NaN,NaN,Cargado,cargado,cargado,cargado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,2020.0,junio,TrinidadYTobago,NaN,NaN,Cargado,cargado,cargado,cargado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2021.0,junio,TrinidadYTobago,NaN,NaN,Cargado,cargado,cargado,cargado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#**Nuevo Procedimiento**

In [ ]:
debug=0 #1=imprime todos los mensajes
pd.options.mode.chained_assignment = None #'warn'
carpeta=""
pais=""
pais_ant=""
anio_ant=""
trimestre_ant=""
archivo=""
orden_salida=0
columns_rename={}
columns_order=['pais', 'anio', 'trimestre' ,'cod_ciudad', 'ciudad', 'cod_sector', 'sector', 'edad', 'sexo', 'ocupado', 'salario', 'factor_exp']
columns_conteo = 0 
columns_conteo_check = 7
columns_conteo_ini = 7
check_salario = 0

class bcolors:
    OK = '\033[92m'
    WARNING = '\033[93m'
    FAIL = '\033[91m'
    BLUE = '\033[94m'
    ENDC = '\033[0m'

def time_dif(time1):
    time2 = datetime.datetime.now()
    td = time2 - time1
    td_mins = int(td.total_seconds()) // 60
    td_seconds = int(td.total_seconds()) % 60
    print("tiempo de ejecución:", td_mins, "m.", td_seconds, "s.", ' --- ', time2)

def print_var(p1, p2=None, p3=None, p4=None, p5=None):
    if debug==1:
        frame = inspect.currentframe()
        frame = inspect.getouterframes(frame)[1]
        string = inspect.getframeinfo(frame[0]).code_context[0].strip()
        args = string[string.find('(') + 1:-1].split(',')
        names = []
        j = 1
        for i in args:
            p = eval("p"+str(j))
            var = i + ":" + str(p)
            names.append(var)
            j+=1
        names = " ".join(str(x) for x in names)
        print(names)

def print_s(msg):
    i = 100
    j = (i - len(msg)) // 2
    if (i - len(msg)) % 2 == 0:
        k = j
    else:
        k = j + 1
    print("")
    print("#"*j, msg, "#"*k)

def read_df(file):
    df = []
    filename, file_extension = os.path.splitext(file)
    file_extension = file_extension[1:]
    file_extension = file_extension.lower()
    print_var(file)
    try:
        if file_extension == "csv":
            try:
                reader = pd.read_csv(file, sep = None, iterator = True, engine='python', encoding=encoding)
                inferred_sep = reader._engine.data.dialect.delimiter
                df = pd.read_csv(file, sep=inferred_sep, low_memory=False, encoding=encoding)
                #print('csv1')
            except:
                try:    
                    df = pd.read_csv(file, sep='[,;]', quotechar='"', quoting=csv.QUOTE_NONE, engine='python', encoding=encoding) 
                    #print('csv2')
                except:
                    df = pd.read_csv(file, sep='[,;]', index_col=False, quotechar='"', quoting=csv.QUOTE_NONE, engine='python', encoding=encoding)
                    df.drop(df.columns[0], axis=1, inplace=True)
                    #print('csv3')
        elif file_extension in ("txt"):
            if os.stat(file).st_size == 0:
                print("No existen registros")
            else:
                try:
                    df = pd.read_csv(file, sep=' ', low_memory=False)
                except:
                    df = pd.read_csv(file, sep=' ', index_col=False, low_memory=False, engine='python', encoding=encoding)
                    df.drop(df.columns[0], axis=1, inplace=True)
        elif file_extension in ("xls", "xlsx"):
            if col_hoja == col_hoja:
                df = pd.read_excel(file, sheet_name=col_hoja) 
            else:
                df = pd.read_excel(file, sheet_name=0)
        elif file_extension in ("sav"):
            #df = pd.read_spss(file)
            df,meta= pyreadstat.read_sav(file)
        elif file_extension in ("dta"):
            df = pd.read_stata(file)
        else:
            print("Archivo no reconocido")
    except Exception as e:
        print("Archivo leyendo archivo: " + str(e))
    return df

def columns_df(df):
    error_columns=0
    columns=list()
    columns_error=list()
    columns_rename.clear()
    
    df.columns = df.columns.str.strip('"')
    columns_all=df.columns
    columns_all_s=", ".join(str(x) for x in columns_all)
    #print_var(columns_all)
    #print_var(columns_all_s)
    
    #print_var(col_ciudad)
    #print_var(df.columns)
    if col_ciudad in df.columns:
        columns.append(col_ciudad)
        columns_rename[col_ciudad] = "cod_ciudad"
    elif col_ciudad != col_ciudad:
        pass
    else:
        columns_error.append(col_ciudad)
        
    if col_ocupado in df.columns:
        columns.append(col_ocupado)
        columns_rename[col_ocupado] = "ocupado"
    elif col_ocupado != col_ocupado:
        pass
    else:
        columns_error.append(col_ocupado)
        
    if col_sector in df.columns:
        columns.append(col_sector)
        columns_rename[col_sector] = "cod_sector"
    elif col_sector != col_sector:
        pass
    else:
        columns_error.append(col_sector)
        
    if col_edad in df.columns:
        columns.append(col_edad)
        columns_rename[col_edad] = "edad"
    elif col_edad != col_edad:
        pass
    else:
        columns_error.append(col_edad)
        
    if col_sexo in df.columns:
        columns.append(col_sexo)
        columns_rename[col_sexo] = "sexo"
    elif col_sexo != col_sexo:
        pass
    else:
        columns_error.append(col_sexo)
        
    if col_salario in df.columns:
        columns.append(col_salario)
        columns_rename[col_salario] = "salario"
        check_salario = 0
    elif col_salario != col_salario:
        check_salario = 1
        pass
    else:
        columns_error.append(col_salario)
        
    if col_factor_exp in df.columns:
        columns.append(col_factor_exp)
        columns_rename[col_factor_exp] = "factor_exp"
    elif col_factor_exp != col_factor_exp:
        pass
    else:
        columns_error.append(col_factor_exp)

    if col_llave == col_llave:
        columns.append(col_llave)
                        
    #print_var(columns)
    print_var(columns_rename)
    print_var(columns_error)
    columns_error = " ".join(str(x) for x in columns_error)
    return columns, columns_error, columns_all_s, check_salario

In [ ]:
#procedimiento principal
time1=datetime.datetime.now()
cur_row = -1
for index, row in df_paises.iterrows():
    cur_row += 1
    carpeta = row['carpeta'].strip()
    pais = row['pais']
    #multiple = df_paises.iloc[cur_row]['multiple']
    suelo_valor = df_paises.iloc[cur_row]['suelo_valor']
    mes_valor = df_paises.iloc[cur_row]['mes_valor']
    print_s(pais)
    #df_archivos_pais = df_archivos[df_archivos.carpeta == carpeta]
    df_archivos_pais = df_archivos[df_archivos['carpeta'] == carpeta].sort_values(by=['year'])
    if df_archivos_pais.empty == True:
        print(bcolors.BLUE, 'No existen archivos con país "', carpeta, '"', bcolors.ENDC)
    else:
        for index, row in df_archivos_pais.iterrows():
            col_archivo = row['archivo1']
            col_anio = row['year']
            col_trimestre = row['trimestre']
            try:
                col_ocupado = row['ocupado'].strip()
            except:
                col_ocupado = row['ocupado']

            try:
                col_sector = row['sector'].strip()
            except:
                col_sector = row['sector']

            try:
                col_edad = row['edad'].strip()
            except:
                col_edad = row['edad']

            try:
                col_sexo = row['sexo'].strip()
            except:
                col_sexo = row['sexo']

            try:
                col_salario = row['salario'].strip()
            except:
                col_salario = row['salario']
            
            try:
                col_ciudad = row['ciudad'].strip()
            except:
                col_ciudad = row['ciudad']
            
            try:
                col_factor_exp = row['factor_exp'].strip()
            except:
                col_factor_exp = row['factor_exp']
            
            try:
                col_suelo = row['suelo']
                col_suelo = col_suelo.strip()
            except:
                col_suelo = '0'
                pass

            try:
                col_mes = row['mes']
                col_mes = col_mes.strip()
            except:
                col_mes = '0'
                pass

            col_hoja = row['hoja_excel']
            try:
                col_hoja = col_hoja.strip()
            except:
                pass

            col_llave = row['llave']
            try:
                col_llave = col_llave.strip()
            except:
                pass
            #columns_conteo = 0
            
            if pais == pais_ant and col_anio == anio_ant and col_trimestre == trimestre_ant:
                orden_salida+=1
            elif pais != pais_ant:
                columns_conteo = 0
                orden_salida=0
            else:
                columns_conteo = 0
                orden_salida=0

            file = path_data + str(carpeta )+ "/" + str(col_archivo)
            filename, file_extension = os.path.splitext(file)
            file_extension = file_extension[1:]
            #print_var(file)

        #print_s("fin " + pais)
print_s("fin procedimiento")
time_dif(time1)

Exception reporting mode: Plain
Automatic pdb calling has been turned ON

NameError: ignored

> <ipython-input-1-347f34e4cade>(5)<module>()
      3
      4 #procedimiento principal
----> 5 time1=datetime.datetime.now()
      6 cur_row = -1
      7 for index, row in df_paises.iterrows():

--KeyboardInterrupt--
--KeyboardInterrupt--
--KeyboardInterrupt--

# Validaciones

In [ ]:
df_archivos_sub = df_archivos[df_archivos['carpeta'] == 'Mexico'].sort_values(by=['carpeta', 'year'])
df_archivos_sub

,year,trimestre,carpeta,archivo,llave,estado,ocupado,sector,salario,ciudad,factor_exp,mes,suelo,ocupado_valor,hoja_excel,edad,sexo,Sexo_valor,Suelo_valor,Unnamed: 19
0,2017.0,junio,Mexico,coe1t217.CSV,NaN,DataFrame,p1,p4a,NaN,cd_a,fac,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"path= (""/content/drive/Shareddrives/BID/Ciudad..."
1,2017.0,junio,Mexico,coe2t217.CSV,NaN,DataFrame,NaN,NaN,p6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"path= (""/content/drive/Shareddrives/BID/Ciudad..."
10,2017.0,junio,Mexico,sdemt217.csv,"CD_A, ENT, CON, V_SEL, N_HOG, H_MUD, N_REN",csv,NaN,NaN,NaN,NaN,fac,NaN,NaN,NaN,NaN,eda,sex,"2, '2'",NaN,NaN
2,2018.0,junio,Mexico,coe1t218.csv,NaN,DataFrame,p1,p4a,NaN,cd_a,fac,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,".rename(columns={""p1"": ""ocupados"", ""p4a"": ""sec..."
3,2018.0,junio,Mexico,coe2t218.csv,NaN,DataFrame,NaN,NaN,p6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,".rename(columns={""p6c"": ""salario""})"
11,2018.0,junio,Mexico,sdemt218.csv,"CD_A, ENT, CON, V_SEL, N_HOG, H_MUD, N_REN",csv,NaN,NaN,NaN,NaN,fac,NaN,NaN,NaN,NaN,EDA,SEX,"2, '2'",NaN,NaN
4,2019.0,junio,Mexico,COE1T219.csv,NaN,DataFrame,p1,p4a,NaN,cd_a,fac,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,".loc[:,['ocupados', 'ciudad', 'sector']]"
5,2019.0,junio,Mexico,COE2T219.csv,NaN,DataFrame,NaN,NaN,p6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,".loc[:,['salario']"
12,2019.0,junio,Mexico,SDEMT219.csv,"cd_a, ent, con, v_sel, n_hog, h_mud, n_ren",csv,NaN,NaN,NaN,NaN,fac,NaN,NaN,NaN,NaN,eda,sex,"2, '2'",NaN,NaN
6,2020.0,junio,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"pd.concat([df2t17A, df2t17B], axis=1)"
7,2020.0,junio,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df2t17MEX.assign(Trimestre=2017)
13,2020.0,junio,Mexico,sdemt120.csv,"cd_a, ent, con, v_sel, n_hog, h_mud, n_ren",csv,NaN,NaN,NaN,NaN,fac,NaN,NaN,NaN,NaN,eda,sex,"2, '2'",NaN,NaN
8,2021.0,junio,Mexico,ENOEN_COE1T221.csv,NaN,DataFrame,p1,p4a,NaN,cd_a,fac_tri,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"pd.concat([Trim2de2017MEX, Trim2de2018MEX, Tri..."
9,2021.0,junio,Mexico,ENOEN_COE2T221.csv,NaN,DataFrame,NaN,NaN,p6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BDMEX2T.to_csv('MexBD2T2017_2021')
14,2021.0,junio,Mexico,ENOEN_SDEMT221.csv,"CD_A, ENT, CON, V_SEL, N_HOG, H_MUD, N_REN",csv,NaN,NaN,NaN,NaN,fac_tri,NaN,NaN,NaN,NaN,EDA,SEX,2.0,NaN,NaN

In [ ]:
df_archivos.sort_values(by=['carpeta', 'year'])

,year,trimestre,carpeta,archivo,llave,estado,ocupado,sector,salario,ciudad,factor_exp,mes,suelo,ocupado_valor,hoja_excel,edad,sexo,Sexo_valor,Suelo_valor,Unnamed: 19
15,2017.0,junio,Argentina,usu_individual_t217.xls,NaN,DataFrame,estado,pp04b_cod,p47t,aglomerado,pondera,NaN,NaN,1.0,NaN,ch06,ch04,NaN,NaN,"df2t20renombrado = df2t20.rename(columns={""EST..."
16,2018.0,junio,Argentina,usu_individual_t218.xls,NaN,DataFrame,estado,pp04b_cod,p47t,aglomerado,pondera,NaN,NaN,1.0,NaN,ch06,ch04,NaN,NaN,"df2t20ARG = df2t20renombrado.loc[:,['ocupados'..."
17,2019.0,junio,Argentina,USU_individual_t219.xls,NaN,DataFrame,estado,pp04b_cod,p47t,aglomerado,pondera,NaN,NaN,1.0,NaN,ch06,ch04,NaN,NaN,Trim2de2020ARG = df2t20ARG.assign(Trimestre=2020)
18,2020.0,junio,Argentina,usu_Individual_T220.xlsx,NaN,DataFrame,estado,pp04b_cod,p47t,aglomerado,pondera,NaN,NaN,1.0,NaN,ch06,ch04,NaN,NaN,"BDARG2T = pd.concat([Trim2de2017ARG, Trim2de20..."
19,2021.0,junio,Argentina,usu_individual_T221.xlsx,NaN,DataFrame,estado,pp04b_cod,p47t,aglomerado,pondera,NaN,NaN,1.0,NaN,ch06,ch04,NaN,NaN,BDARG2T.to_csv('ArgBD2T2017_2021')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2019.0,anual,Uruguay,HyP_2019_Terceros.sav,NaN,sav,pobpcoac,f72_2,g126_1,region_4,pesomen,mes,NaN,2.0,NaN,e26,e27,2.0,NaN,NaN
76,2020.0,anual,Uruguay,HyP_2020_Terceros.sav,NaN,sav,pobpcoac,f72_2,g126_1,region_4,pesomen,mes,NaN,2.0,NaN,e26,e27,2.0,NaN,NaN
77,2021.0,anual,Uruguay,ECH_2021_sem1_terceros.sav,NaN,sav,pobpcoac,f72_2,g126_1,region_4,pesomen,mes,NaN,2.0,NaN,e26,e27,2.0,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,Google Trends,NaN,Empleo,subregiones,reclutamiento,subregiones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN